.om {
  &-wrapper {
    @extend .container-fluid;
    padding: 0;
    background-color: $gray-200;
  }
  &-row {
    @extend .row;
  }
  &-nav {
    @extend .col-sm-12,.col-md-3,.col-lg-3 ;
    max-width: 300px;
    position: relative;
    &-content {
    max-width: 250px;
    min-height: 100vh;
  //  position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    background-color: $gray-900;

    }
  }
  &-main {
    @extend .col-sm-12, .col-md-9, .col-lg-9 ;
    &-content {
      margin: 40px auto;

      min-height: 600px;
    
    }
  }

}
